.Post__footer {
    margin-top: 5px;
    display: flex;
    /* font-family: 'Chirp'; */
    justify-content: space-around;
    color: var(--color-white-gray);
}

/* comment */
.Post__footer__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__comment__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 22px !important;
    margin-right: 5px;
/* background-color: red; */
}

.Post__footer__comment:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
}

.Post__footer__comment:hover .Post__footer__comment__icon {
    background-color: var(--color-dark-blue);
    transition: color 100ms ease-out;
}

/* retweet */
.Post__footer__retweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__retweet__icon {
    font-size: 22px !important;
    padding: 8px;
    border-radius: 20px;
    margin-right: 5px;
}

.Post__footer__retweet:hover {
    color: var(--color-green);
    transition: color 100ms ease-out;
}

.Post__footer__retweet:hover .Post__footer__retweet__icon {
    background-color: var(--color-dark-green);
    transition: color 100ms ease-out;
}

/* like */
.Post__footer__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__like__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 22px !important;
    margin-right: 5px;
}

.Post__footer__like:hover {
    color: var(--color-pink);
    transition: color 100ms ease-out;
}

.Post__footer__like:hover .Post__footer__like__icon {
    background-color: var(--color-dark-pink);
    transition: color 100ms ease-out;
}


/* share */
.Post__footer__share__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 22px !important;
    cursor: pointer;
}

.Post__footer__share__icon:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
}

.Post__footer__share__icon:hover {
    background-color: var(--color-dark-blue);
    transition: color 100ms ease-out;
}
