
.Post__header {
    display: flex;
    justify-content: space-between;
}

.Post__header__leftContainer {
    display: flex;
    
}

.Post__header__avatar {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.Post__header__avatar:hover {
    opacity: 0.8;
}

.Post__header__userName {
    font-family: 'ChirpMedium';
    margin-left: 10px;
}

.Post__header__userName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Post__header__userNick {
    margin-left: 10px;
    color: var(--color-white-gray);
}

.Post__header__more {
    color: var(--color-white-gray);

    font-size: 22px !important;
    padding: 8px;
    border-radius: 20px;
}

.Post__header__more:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
    background-color: var(--color-dark-blue);
    cursor: pointer;

}

.Post__header__createdAt {
    /* padding-top: 10px; */
    margin-left: 10px;
    /* font-family: 'Chirp'; */
    color: var(--color-white-gray);
}
