.Sidebar {
    flex: 0.2;
    border-right: 3px solid var(--color-gray);
    background-color: var(--color-black);
}

.Sidebar__TweetButton {
    background-color: var(--color-blue) !important;
    border: none !important;
    color: var(--color-white) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    flex: 1.0 !important;
    /* width: 200px !important; */
}