.Sidebar {
    flex: 0.15;
    border-right: 1px solid var(--color-border-gray);
    background-color: var(--color-black);
}

.Sidebar__TweetButton {
    background-color: var(--color-blue) !important;
    border: none !important;
    color: var(--color-white) !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 20px !important;
    height: 40px !important;
    margin-top: 20px !important;
    /* flex: 0.8 !important; */
    width: 180px !important;
    /* width: 200px !important; */
}

.Sidebar__account {
    margin-top: 250px;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sidebar__account__avatar {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.Sidebar__account__body__nick {
    color: var(--color-white-gray);
}

.Sidebar__account__body {
    display: flex;
    flex-direction: column;
}