.Post {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border-bottom: 1px solid var(--color-border-gray);
    padding: 15px 15px 5px 15px ;
    transition: color 300ms;
}

.Post:hover {
    transition: color 300ms;
    background-color: var(--color-dark-gray);
}

.Post__header {
    display: flex;
    justify-content: space-between;
}

.Post__header__leftContainer {
    display: flex;
    
}

.Post__header__avatar {
    /* margin: 10px; */
    height: 50px;
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}

.Post__header__avatar:hover {
    opacity: 0.8;
}

.Post__header__userName {
    /* padding-top: 10px; */
    margin-left: 10px;
}

.Post__header__userName:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Post__header__userNick {
    /* padding-top: 10px; */
    margin-left: 10px;
    font-family: 'Chirp';
    color: var(--color-white-gray);
}

.Post__header__more {
    color: var(--color-white-gray);
    /* padding: 5px; */
}

.Post__header__more:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
    background-color: var(--color-dark-blue);
    border-radius: 15px;
    cursor: pointer;
}

.Post__header__createdAt {
    /* padding-top: 10px; */
    margin-left: 10px;
    font-family: 'Chirp';
    color: var(--color-white-gray);
}

.Post__body > p {
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Chirp';
}

.Post__body__images > img {
    /* width: 100%; */
    margin-top: 10px;
    border-radius: 10px;
    border-bottom: 1px solid var(--color-border-gray);
    max-height: 400px;
    max-width: 100%;

}

.Post__body__images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Post__footer {
    margin-top: 5px;
    display: flex;
    font-family: 'Chirp';
    justify-content: space-around;
    color: var(--color-white-gray);
}

/* comment */
.Post__footer__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__comment__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 5px;
/* background-color: red; */
}

.Post__footer__comment:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
}

.Post__footer__comment:hover .Post__footer__comment__icon {
    background-color: var(--color-dark-blue);
    transition: color 100ms ease-out;
}

/* retweet */
.Post__footer__retweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__retweet__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 5px;
}

.Post__footer__retweet:hover {
    color: var(--color-green);
    transition: color 100ms ease-out;
}

.Post__footer__retweet:hover .Post__footer__retweet__icon {
    background-color: var(--color-dark-green);
    transition: color 100ms ease-out;
}

/* like */
.Post__footer__like {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Post__footer__like__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    margin-right: 5px;
}

.Post__footer__like:hover {
    color: var(--color-pink);
    transition: color 100ms ease-out;
}

.Post__footer__like:hover .Post__footer__like__icon {
    background-color: var(--color-dark-pink);
    transition: color 100ms ease-out;
}


/* share */
.Post__footer__share__icon {
    padding: 8px;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.Post__footer__share__icon:hover {
    color: var(--color-blue);
    transition: color 100ms ease-out;
}

.Post__footer__share__icon:hover {
    background-color: var(--color-dark-blue);
    transition: color 100ms ease-out;
}

