.Post {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border-bottom: 1px solid var(--color-border-gray);
    padding: 15px 15px 5px 15px ;
    transition: color 300ms;
}

.Post:hover {
    transition: color 300ms ease-out;
    background-color: var(--color-dark-gray);
}
