.SidebarElement {
    display: flex;
    float: left;
    align-items: center;
    cursor: pointer;
    color: var(--color-dark-white);
    /* width: 250px; */
    /* flex: 1.0; */
    width: auto;
    border-radius: 30px;
    /* background-color: red; */
    padding-right: 10px;
}

.SidebarElement__container {
    width: 100%;
    display: flex;
}


.SidebarElement:hover {
    background-color: var(--color-gray);
    color: var(--color-blue);
    transition: color 100ms ease-out;
}

.SidebarElement > .MuiSvgIcon-root {
    padding: 10px;
}
.SidebarElement > h2 {
    font-weight: 800;
    font-size: 16px;
    line-height: 15px;
    margin-right: 20px;
}

.SidebarElement__active {
    color: var(--color-blue);
}