.SignUpInfoList {
    display: flex;
    flex-direction: column;
}

.SignUpInfoList__element {
    display: flex;
    margin-bottom: 30px;
}

.SignUpInfoList__element__icon {
    font-size: 30px !important;
    margin-right: 10px !important;

}

.SignUpInfoList__element__text {
    font-size: 20px;
}